.board {
 position: relative;
 margin-left: 1%;
}
.board-column {
 position: absolute;
 left: 0;
 right: 0;
 width: 30%;
 margin: 0 1.5%;
 background: #f0f0f0;
 border-radius: 3px;
 z-index: 1;
}
.board-column.muuri-item-releasing {
 z-index: 2;
}
.board-column.muuri-item-dragging {
 z-index: 3;
 cursor: move;
}
.board-column-header {
 position: relative;
 height: 50px;
 line-height: 50px;
 overflow: hidden;
 padding: 0 20px;
 text-align: center;
 background: #333;
 color: #fff;
 border-radius: 3px 3px 0 0;
}