<div class="board">
  <form (submit)="submit()">
    <div class="board-column">
      <div class="board-column-header">{{ layout.title }}</div>
      <app-vertical-grid [identifier]="layout.identifier" [formGroup]="layout.formGroup"></app-vertical-grid>
    </div>
  </form>
</div>