[class^='board-column-content'] {
 position: relative;
 border: 10px solid transparent;
 min-height: 95px;

 .board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;

  &.muuri-item-releasing {
   z-index: 9998;
  }

  &.muuri-item-dragging {
   z-index: 9999;
   cursor: move;
  }

  &.muuri-item-hidden {
   z-index: 0;
  }

  .board-item-content {
   position: relative;
   padding: 20px;
   background: #fff;
   border-radius: 4px;
   font-size: 17px;
   cursor: pointer;
   -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
   box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  }
 }
}