<div [class]="'board-column-content' + identifier">
  <ng-container *ngFor="let control of getControlNames()">
    <app-input [name]="control" [control]="formGroup.controls[control]" class="board-item"></app-input>
  </ng-container>
</div>