<div class="card shadow highlight">
  <header class="card__header">
    <p class="card__header--title">
      Room id: {{room.id}} - Room name: ???
    </p>
    <i class="card__header--icon dropdown fas fa-circle" [class.is-joinable]="room.join_enabled" [title]="room.join_enabled ? 'Joinable' : 'Not joinable'"></i>
  </header>
  <div class="card__content">
    <p>Max players: {{room.max_players}}</p>
    <p>Master token: {{room.master_token}}</p>
  </div>
  <footer class="card__footer">
    <a class="card__footer--action highlight">Join</a>
    <a class="card__footer--action highlight">Load info.</a>
  </footer>
</div>