<p>
  landing works!
</p>
<button [routerLink]="['/character-sheet']">CHARACTER SHEET</button>
<form [formGroup]="loginForm" (submit)="register()">
 <div class="card shadow">
  <header class="card__header">
   <p class="card__header--title">
    Acceso
   </p>
  </header>
  <div class="card__content">
   <label for="username">Username:</label>
   <input type="text" formControlName="username" />
   <label for="password">Password:</label>
   <input type="password" formControlName="password" />
   <span>{{message}}</span>
  </div>
  <footer class="card__footer">
   <a class="card__footer--action highlight" (click)="login()">Login</a>
   <a class="card__footer--action highlight" (click)="register()">Register</a>
  </footer>
 </div>
</form>
