.grid {
 position: relative;

 .item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;

  .muuri-item {
   &-dragging {
    z-index: 3;
   }

   &-releasing {
    z-index: 2;
   }

   &-item-hidden {
    z-index: 0;
   }
  }

  &-content {
   position: relative;
   width: 100%;
   height: 100%;
  }
 }
}