<div class="room-container">
  <div class="button-group">
    <button class="button is-info" (click)="getRooms()">Refresh</button>
    <button class="button is-success" (click)="addRoom()">Add room</button>
  </div>
  <ng-container>
    <div class="room-container__list">
      <ng-container *ngFor="let room of rooms">
        <app-room-info [room]="room"></app-room-info>
      </ng-container>
    </div>
  </ng-container>
</div>