.room-container {
 display: flex;
 flex-direction: column;
 padding: 0 20px;

 &__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
 
  &>app-room-info {
   width: 30%;
   margin: 4px;
  }
 }
}