<div [formGroup]="getFormGroup()">
  <ng-container [ngSwitch]="control.getEnrichment().type">
    <ng-container *ngSwitchCase="inputType.TEXT || inputType.NUMBER || inputType.PASSWORD || inputType.DATE">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <input [formControlName]="name" [type]="control.getEnrichment().type" [placeholder]="control.getEnrichment().placeholder || ''"
      />
    </ng-container>
    <ng-container *ngSwitchCase="inputType.TEXTAREA">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <textarea [formControlName]="name"></textarea>
    </ng-container>
    <ng-container *ngSwitchCase="inputType.SELECT">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <select [formControlName]="name">
        <ng-container *ngFor="let option of control.getEnrichment().options">
          <option [value]="option.value">{{ option.text }}</option>
        </ng-container>
      </select>
    </ng-container>
    <ng-container *ngSwitchCase="inputType.RADIO">
      <input [formControlName]="name" [name]="control.getEnrichment().radioGroup" />
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
    </ng-container>
    <ng-container *ngSwitchCase="inputType.CHECKBOX">
      <label *ngIf="control.getEnrichment().label">
        {{ control.getEnrichment().label }}
        <input [formControlName]="name" />
      </label>
    </ng-container>
    <ng-container *ngSwitchCase="inputType.COLOR">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <input [formControlName]="name" [type]="control.getEnrichment().type" />
    </ng-container>
    <ng-container *ngSwitchCase="inputType.RANGE">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <input [formControlName]="name" [type]="control.getEnrichment().type" [min]="control.getEnrichment().min" [max]="control.getEnrichment().max"
        [step]="control.getEnrichment().step" />
    </ng-container>
    <ng-container *ngSwitchCase="inputType.TIME">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <input [formControlName]="name" [type]="control.getEnrichment().type" [min]="control.getEnrichment().min" [max]="control.getEnrichment().max"
      />
    </ng-container>
    <ng-container *ngSwitchCase="inputType.OPTGROUP">
      <label *ngIf="control.getEnrichment().label">{{ control.getEnrichment().label }}</label>
      <select [formControlName]="name">
        <ng-container *ngFor="let optgroup of control.getEnrichment().optgroups">
          <optgroup [label]="optgroup.label">
            <ng-container *ngFor="let option of optgroup.options">
              <option [value]="option.value">{{ option.text }}</option>
            </ng-container>
          </optgroup>
        </ng-container>
      </select>
    </ng-container>
    <ng-container *ngSwitchDefault>AY LMAO</ng-container>
  </ng-container>
</div>